
# Enable rewriting
RewriteEngine On

# If the request is not for a file or directory that exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Exclude specific paths from being rewritten
RewriteCond %{REQUEST_URI} !^/sitemap\.xml$
RewriteCond %{REQUEST_URI} !^/robots\.txt$
RewriteCond %{REQUEST_URI} !^/secondary-glazing-building-regulations$
RewriteCond %{REQUEST_URI} !^/specialized/air-gap-secondary-glazing$
RewriteCond %{REQUEST_URI} !^/air-gap-secondary-glazing$

# Rewrite all other requests to index.html
RewriteRule ^ index.html [QSA,L]

# Set SPA specific headers
<IfModule mod_headers.c>
  # Prevent caching for index.html to ensure the latest version is served
  <FilesMatch "^index\.html$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>
